body{
    margin:0;
    background-color:rgb(158,158,158);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.woff2)
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.woff2)
}
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.woff2)
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.woff2)
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.woff2)
}
@font-face {
    font-family: Roboto-Blackitalic;
    src: url(../fonts/Roboto-Blackitalic.woff2)
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.woff2)
}
@font-face {
    font-family: Font-Awesome;
    src: url(../fonts/fontawesome-webfont.woff2)
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.woff2)
}
#screen{
    min-height: 100px;
    max-height: 200px;
    background-color: white;
    margin: 0;
    width:100%;
    z-index: 3;
}
#header {
    height: inherit;
    width: 70.5vw;
    margin: 0 auto;
    background-color: white;
}

#logo {
    width:250px;
    padding:20px 0 0 25px;
    float: left;
}
#logo img{
    display: inline-block;
    float:left;
}
#logo h1{
    font-size: 40px;
    font-family: Roboto-Blackitalic, sans-serif;
    font-weight:600;
    color: rgb( 3, 47, 62 );
    font-style: italic;
    margin: 0 8px;
    display: inline;
}
#right_items {
    margin: 0;
    width: 600px;
    float: right; 
    height: 100px;
    font-family: Lato-regular;
    color: #032f3e;
}
#right_items ul li {
    float:right;
    margin:20px 27px;
}
#nav {
    background-color: #032f3e;
    height: 100px;
    box-shadow: 0px 20px 100px #333;
    margin: 0 auto;
    clear:both;
}
#nav ul {
    width:72vw;
    margin: 0 auto;
    background-color: #032f3e;
}
#nav ul li {
    float:left;
    height: 13.33vh;
    width:10vw;
    margin: 0 0.88vw;
    list-style: none;
    color: #ab987a;
    font-family: Roboto-Bold, sans-serif;
}
#nav ul li h3 {
    line-height: 5.8vh;
    font-size: 18px;
    text-align: center;
}
#nav ul li a:link{
    color:white;
    text-decoration: none;
}
#nav ul li a:hover{
    text-decoration: underline;
}
#slider {
    margin: 0 auto;
    width: 70.5vw;
    height:860px;
}
#slider h2 {
    margin:0;
    padding:15px;
    font-family: Roboto-Light;
    font-weight: 100;
    font-size: 60px;
    text-align: right;
    color:white;
    position:relative;
    top:400px;
}
#slider h2::first-line {
    padding:15px;
    font-family: Roboto-Bold;
    font-size: 60px;
    text-align: right;
}
#small_video {
    background:#032f3e url('../img/play.png') no-repeat 50% 50%;
    background-size:40px 40px;
    width:170px;
    height:122px;
    margin: 15px;
    float:right;
    position:relative;
    top:400px;
}
#pagination1 {
    position: relative;
    left: 42%;
    top: 650px;
    width: 186px;
    height: 41px;
}
#pagination1 span{
    position: relative;
    top: -33px;
    left: 86px;
    z-index: 3;
    color: #ab987a;
}
#content {
    margin: 0 auto;
}
#services{
    padding: 20vh 10vw 0 10vw;
    margin:0 auto;
    background-color: rgb(248,249,251);
}
#services h3 {
    color: #032f3e;
    font-size: 18px;
    text-align: center;
    font-family: Roboto-Bold;
}
#services hr{
    border: solid 1px #ab987a;
    width: 30px;
    margin: 30px auto;
}
#services p{
    color: rgb(97,97,97);
    text-align: center;
    font-family: Lato-Light;
}
#services_icons {
    display: table;
    margin: 18vh auto;
}

#services_icons .item{
    float:left;
    padding: 15px 6.76vw;
    margin:0 auto;
    text-align: center;
    font-family:Roboto-Bold;
    color:#032f3e;
    display:table-cell;
}
#services_icons .circle{
    border-radius: 50%;
    width:170px;
    height:170px;
    border: solid 1px #ab987a;
    display: table-cell;
    vertical-align: middle;
}
#our_lessons {
    clear:both;
    margin: 0 auto;
    background-color: #032f3e;
}
#our_lessons h2{
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 30px 15.58vw;
    font-family: Roboto-Light;
    font-weight: 100;
}
#our_lessons h2::first-line{
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 30px 15.58vw;
    font-family: Roboto-Bold;
}
#our_lessons ul{
    list-style: none;
    padding: 0 0 110px 16vw;
}
#our_lessons ul li {
    clear:both;
}
#our_lessons ul li img{
    float: left;
}
#our_lessons ul li hr{
    width:0;
    height: 60px;
    border: solid 1px #ab987a;
    float:left;
    margin: 20px 30px;
    padding: 0;
}
#our_lessons ul li span{
    font-family: Roboto-Bold;
    margin: 0 0 0 30px;
    color:white;
    width:54vw;
    display: block;
    float:left;
}
#our_projects {
    padding: 20vh 21.47vw 0 21.47vw;
    margin:0 auto;
    background-color: rgb(248,249,251);
}
#our_projects h3 {
    color: #032f3e;
    font-size: 18px;
    text-align: center;
    font-family: Roboto-Bold;
}
#our_projects hr{
    border: solid 1px #ab987a;
    width: 30px;
    margin: 30px auto;
}
#our_projects p{
    color: rgb(97,97,97);
    text-align: center;
    font-family: Lato-Light;
    margin-bottom: 100px;
}
#close {
    margin:0;
    background-color: white;
    width: 70px;
    height: 70px;
    position:relative;
    left: 58.82vw;
    color: #9E9E9E;
    line-height: 70px;
    text-align: center;
    margin-right: 15px;
}

#section1 {
    background-color: white;
    overflow: auto;
    padding: 0 14%;
}
#section1 > img{
    width:55%;
    height: 82%;
    min-width: 430px;
    min-height: 320px;
    float:left;
    margin-right: 15px;
}
#go_to_project {
    width:20%;
    height:78%;
    min-width: 430px;
    
    float:left;
    padding-top: 4%;
    font-family: Roboto-Regular;
}
#left_span{
    color:#ab987a;
    display:inline-block;
    float: left;
    height: 4vh;
    line-height: 4vh;
}
#right_span{
    color: #9E9E9E;
    display:inline-block;
    float:right;
    height: 4vh;
    line-height: 4vh;
}
#go_to_project h4{
    font-family:Roboto-bold;
    color: #032f3e;
    display:inline-block;
}
#go_to_project hr{
    border: solid 1px #ab987a;
    width: 30px;
    margin-bottom: 45px;
    
}
#go_to_project p{
    font-family:Lato-Light;
    display: block;
}
#go_to_project_button {
    height: 8vh;
    width:17vw;
    background-color: #032f3e;
    font-family: Roboto-Bold;
    margin: 30px 0;
    color:white;
    line-height: 8vh;
    text-align: center;
}
#share {
    color: #9E9E9E;
    display:inline-block;
    vertical-align: bottom;
}
#share span{
    letter-spacing: 15px;
}
#pagination2 {
    clear:both;
    width:55%;
    min-width: 430px;
    height:50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
}

#images {
    background-color: #f8f9fb;
    padding: 20vh 12vw;
    overflow: auto;
}
#images span {
    color:white;
    display: block;
    position: relative;
    top:30px;
    left:15px;
    font-family: Roboto-Regular;
}
#left_image{
    float:left;
    width:370px;
    height:370px;
}
#left_image img{
    width:inherit;
    height:inherit;
}
#small_images{
    float:left;
    width:274px;
    height:370px;
    margin: 0 2vw;
}
#small_images img{
    width:270px;
    height:140px;
    display:inline-block;
}
#small_images img:nth-child(2){
    width:270px;
    height:140px;
    display:inline-block;
    margin-bottom: 68px;
}
#right_image{
    float:left;
    width:470px;
    height:370px;
}
#right_image img{
    width:inherit;
    height:inherit;
}
#pagination4 {
    clear:both;
    overflow: auto;
}
#pagination4 #button_left{
    margin:50px 15px 0 15px;
    float:right;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #ab987a;
    color:white;
    text-align: center;
}
#pagination4 #button_right{
    margin:50px 15px 0 15px;
    float:right;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #ab987a;
    color:white;
    text-align: center;
}

#action_zone {
    color:#032f3e;
    padding: 30px 10vw;
    overflow: hidden;
}
#action_zone p {
    font-family: Roboto-Thin;
    width:35vw;
    font-size:1.6em;  
    margin:0;
    line-height: 40px;
    display: block;
    float:left;
}
#action_zone p span {
    font-size: 5em;
    display: inline-block;
    float:left;
    margin-right: 4vw;
}
#action_zone p::first-line{
    font-family:Roboto-Bold;    
    font-weight: 800;
}
#more_details {
    height: 8vh;
    width:260px;
    background-color: #032f3e;
    font-family: Roboto-Bold;
    margin: 30px 15px;
    color:white;
    line-height: 8vh;
    text-align: center;
    float:right;
}

#choose_your_plan {
    height: 8vh;
    width:260px;
    background-color: #032f3e;
    font-family: Roboto-Bold;
    margin: 30px 15px;
    color:white;
    line-height: 8vh;
    text-align: center;
    float:right;
}

#latest_news {
    padding: 20vh 21.47vw;
    margin:0 auto;
    background-color: rgb(248,249,251);
}
#latest_news h3 {
    color: #032f3e;
    font-size: 18px;
    text-align: center;
    font-family: Roboto-Bold;
    
}
#latest_news hr{
    border: solid 1px #ab987a;
    width: 30px;
    margin: 30px auto;
}
#latest_news p{
    color: rgb(97,97,97);
    text-align: center;
    font-family: Lato-Light;
}
#guitar_lessons{
    background-color: #f8f9fb;
    padding:0 10%;
    overflow: hidden;
}
#item_left {
    background-color: white;
    width:570px;
    float:left;
}
#comments{
    width:60px;
    height:60px;
    background-color: #ab987a;
    color:white;
    position: relative;
    left: 510px;
    z-index: 3;
    text-align: center;
    line-height: 1.6em;
    font-family: Roboto-Regular;
}
#calendar{
    width:60px;
    height:60px;
    background-color:#032f3e;
    color:white;
    position: relative;
    left:510px;
    z-index: 3;
    text-align: center;
    line-height: 1.6em;
    font-family: Roboto-Regular;
}
#item_left img {
    width:inherit;
    height: 185px;
    margin-top: -120px;
}

#item_left h4{
    font-family:Roboto-bold;
    color: #032f3e;
    display:inline-block;
    line-height: 1.5em;
    margin:30px 15px 30px 15px;
}
#item_left hr{
    border: solid 1px #ab987a;
    width: 170px;
    margin-bottom: 45px;
    
}
#item_left p{
    font-family:Lato-Light;
    margin: 0 15px;
    
}
#item_left span{
    display:inline-block;
    float:left;
    color:#ab987a;
    font-family:Roboto-Regular;
    margin: 15px;
}
#chevron_right{
    width:20px;
    height:20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #032f3e;
    text-align: center;
    color:white;
    float:right;
    margin: 15px;
}
.guitar_lessons{
    display: inline-block;
    float:left;
    width:570px;
    margin:0 0 55px 55px;
    background-color: white;
}
.guitar_lessons img{
    width:170px;
    height: 120px;
    float:left;
    overflow: hidden;
}
.guitar_lessons h4{
    width:470px;
    text-align: center;
    font-family:Roboto-bold;
    color: #032f3e;
    line-height: 1.5em;
}
.guitar_lessons span{
    color:#ab987a;
    font-family:Roboto-Regular;
    margin-left: 30px;
}
.comments{
    width:60px;
    height:60px;
    background-color: #ab987a;
    color:white;
    float:right;
    text-align: center;
    line-height: 1.6em;
    font-family: Roboto-Regular;
}
.calendar{
    width:60px;
    height:60px;
    background-color:#032f3e;
    color:white;
    float:right;
    position: relative;
    top:60px;
    left:60px;
    text-align: center;
    line-height: 1.6em;
    font-family: Roboto-Regular;
}
#all_articles {
    clear: both;
    width:265px;
    height: 60px;
    line-height: 60px;
    margin: 70px auto;
    border: solid 3px #ab987a;
    text-align: center;
    font-family:Roboto-Bold;
    font-size: 1.4em;
    color: #ab987a;
}
#testimonials {
    background-image: url(../img/testimonial_background.png);
}
#testimonials  {
    padding: 20vh 21.47vw;
    margin:0 auto;
    background-color: rgb(248,249,251);
}
#testimonials  h3 {
    color: #032f3e;
    font-size: 18px;
    text-align: center;
    font-family: Roboto-Bold;
    
}
#testimonials  hr{
    border: solid 1px #ab987a;
    width: 30px;
    margin: 30px auto;
}
#testimonials img{
    display:block;
    overflow: hidden;
    border-radius: 50%;
    width:170px;
    height:170px;
    border: solid 2px #ab987a;
    margin: 15px auto;
}
#testimonials  p{
    color: rgb(97,97,97);
    text-align: center;
    font-family: Lato-Light;
    font-style: italic;
}
#testimonials h4{
    color: #032f3e;
    font-size: 18px;
    text-align: center;
    font-family: Roboto-Bold;
}
#testimonials h5{
    color: #ab987a;
    font-family:Roboto-Light;
    
    text-align: center;
}

#testimonials #left_page{
    position:relative;
    top: -30vh;
    left:-15vw;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border: solid 2px #ab987a;
    color:#ab987a;
    text-align: center;
    float:left;
}
#testimonials #right_page{
    position: relative;
    top:-30vh;
    left:15vw;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border: solid 2px #ab987a;
    color:#ab987a;
    text-align: center;
    float:right;
}
#map {
    height:650px;
    background-color: #9e9e9e;
    border-top: solid 3px #ab987a;
}
#map #map_button{
    margin: -40px auto;
}
#map img{
    display:block;
    margin:0 auto;
}
#map span{
    display:block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:-30px;
    color:white;
}
#bubble {
    position: relative;
    top:36%;
    left:36%;
    width: 370px;
    height: 110px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 85px 13px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -85px;
    left: 172px;
}
#bubble img{
    float:left;
    margin: 15px;
}
#bubble span {
    color: #9e9e9e;
    display:inline-block;
    float:right;
}
#bubble h5{
    font-family:Lato-Bold; 
    font-size:1em;
    line-height: 0.8em;
    margin:10px;
    width:80%;
}
#bubble p {
    font-family:Lato-Regular;
    line-height: 1.4em;
}
#footer {
    background-color: #0d3542;
    color:white;
    padding:10vh 0;
    overflow: hidden;
}
#footer hr{
    width:30px;
    border:solid 1px #ab987a;
}
#footer h4{
    font-family: Roboto-Bold;
}
#column1 {
    float:left;
    width:20vw;
    font-family:Lato-Regular;
    margin-left: 11vw;
}

#column2 {
    float:left;
    width:20vw;
    margin-left: 11vw;
}
#column2 ul {
    list-style: none;
}
#column2 ul li{
    margin:15px 0;
    font-family: Lato-Regular;
}
#column2 ul li span{
    margin:15px;
    color: #ab987a;
}
#column3 {
    float:left;
    width:20vw;
    margin-left: 11vw;
}
#column3 .date{
    color:#ab987a;
    font-family: Lato-Regular;
}
#column3 h5{
    font-family: Roboto-Bold;
}
#column3 p{
    font-family: Lato-Light;
}
#copyrights {
    background-color: #032f3e;
    color:#5f737a;
    clear:both;
    padding: 4vh 10vw;
    font-family: Roboto-Light;
    overflow: hidden;
}
#copyrights p {
    float:left;
    width:340px;
    line-height: 50px;
}
#copyrights ul{
    float:right;
    list-style: none;
}
#copyrights ul li{
    margin: 15px;
    float:right;
}
